* {
    box-sizing: border-box;
}
body {
	max-width: 60em;
 	margin: 0 auto;
}

div {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

footer p {
  text-align: center;
}

.row {
	display: flex;
	flex-flow: row;
	order: n;
}

.col {
	display: flex;
	flex-flow: column;
}

.gulur,
.graenn,
.blar {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1em;
	flex: 1 1 0em; 
}

.raudur {
	flex-grow: 2em;
	flex-shrink: 2em;
	flex-basis: 0;
}

.gulur {
  background-color: yellow;
  order: 1; 
}
.raudur {
  background-color: red;
  order: 2; 
}
.graenn {
  background-color: lime;
  order: 3;
}
.blar {
  background-color: cyan;
  order: 4; 
}
.box {
	display: flex;
	justify-content: center; 
	align-items: center;
	align-content: center;	
  font-size: 1.2em;
  height: 5em;
}

